@import "src/styles/variables.scss";



header {
    background-color: $white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    
}

.navi {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    border-bottom: 1px solid #f6f4f1;
    div {
        display: flex;
        align-items: center;
        
        &.rightBar {
            justify-content: flex-end;
        } 
        &.leftBar {
            justify-content: flex-start;
        }
        &.centBar {
            justify-content: center;
        }
        
        ul{
            display: flex;
            li {
                display: flex;
                align-items: center;
                padding: 0px 30px;
                height: 100px;
                button {
                    position: relative;
                    background-color: transparent;
                    .hovText {
                        &::after {
                            content: "Create a moodboard";
                            position: absolute;
                            display: block;
                            width: 100%;
                            height: 2rem;
                            top: 2rem;
                            left: -2.6rem;
                            opacity: 0;
                            white-space: nowrap; 
                            transition: opacity 0.4s ease;
                            font-size: 0.9rem;
                        }
                        &:hover::after {
                            opacity: 1;
                        }
                    }
                    p {
                        &::after {
                            content: "";
                            position: relative;
                            display: block;
                            width: 100%;
                            height: 1px;
                            top: 0.3rem;
                            left: 0;
                            background-color: #c49e89;
                            transform: scaleX(0);
                            transform-origin: top left;
                            transition: transform 0.4s ease;
                        }
                        &:hover::after {
                            transform: scaleX(1);
                        }
                        font-size: 1.1rem;
                        font-weight: 0.3rem;
                        text-transform: uppercase;
                    }
                    
                }
            }
        }
    }
}


.hamburger {
    position: relative;
    display: block;
    width: 35px;
    height: 35px;
    cursor: pointer;

    appearance: none;
    background: none;
    outline: none;
    border: none;
}

.hamburger .bar, .hamburger:after, .hamburger:before {
   content: '';
   display: block;
    width: 100%;
    height: 1px;
    background-color: black  ;
    margin: 6px  0px;
    transition: 0.4s;
}

.hamburger.isActive:before {
    transform: rotate(-45deg) translate(-4px, 6px);
}

.hamburger.isActive:after {
    transform: rotate(45deg) translate(-4px, -6px);
}

.hamburger.isActive .bar {
    opacity: 0;
}