@import "src/styles/variables.scss";


    .obolochka {
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        padding: 4.063rem 0;
    
        .zagolovok {
            text-align: center;
            
            p:nth-child(1){
                text-transform: uppercase;
            }
            p:nth-child(2){
                font-weight: 500;
                font-size: 1.63rem;
            }
        }
    }

    .containCards {
        display: flex;
        position: absolute;
        overflow: hidden;
    
        .cardsOne {
            object-position: top center;
            object-fit: cover;
            height: 100%;
            width: 100%;
        }
    }
    .containCards:nth-child(1) {
        max-width: 23vw;
        max-height: 34.5vh;
    
        top: 18%;
        left: 5%;
    }
    
    .containCards:nth-child(2) {
        max-width: 20vw;
        max-height: 25vh;
    
        left: 73%;
        top: 15%;
    }
    
    .containCards:nth-child(3) {
        max-width: 24vw;
        max-height: 69.5vh;
    
        left: 33%;
        top: 41%;
    }
    
    .containCards:nth-child(4) {
        max-width: 22vw;
        max-height: 23vh;
    
        left: 65%;
        top: 53%;
    }
    
    .containCards:nth-child(5) {
        max-width: 22vw;
        max-height: 23vh;
    
        left: 19%;
        top: 74%;
    }

.discoverPosition {
    display: flex;
    position: absolute;
    right: 4%;
    top: 79%;
    width: 36vw;
}